amqp==5.1.1
asgiref==3.6.0
async-timeout==5.0.1
attrs==23.1.0
autobahn==24.4.2
Automat==25.4.16
bcrypt==3.2.2
billiard==3.6.4.0
Brotli==1.1.0
celery==5.2.7
certifi==2020.6.20
cffi==1.15.1
channels==3.0.5
channels_redis==4.2.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cron-descriptor==1.4.3
cryptography==39.0.2
daphne==3.0.2
distro==1.9.0
Django==3.2.25
django-celery-beat==2.6.0
django-filter==2.4.0
django-timezone-field==6.1.0
djangorestframework==3.12.4
djangorestframework-simplejwt==5.3.1
drf-extensions==0.7.1
enum-compat==0.0.3
future==0.18.3
greenlet==3.0.3
hyperlink==21.0.0
idna==3.10
importlib-metadata==4.6.4
incremental==24.7.2
inflection==0.5.1
isodate==0.6.1
kombu==5.3.7
monotonic==1.6
msgpack==1.1.0
numpy==1.26.4
olefile==0.47
packaging==23.2
pillow==10.3.0
postgres==4.0
prompt_toolkit==3.0.47
protobuf==3.12.4
psycopg2==2.9.10
psycopg2-binary==2.9.10
psycopg2-pool==1.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.8.0
pymongo==3.12.3
pyOpenSSL==23.2.0
pyparsing==2.4.7
python-crontab==3.0.0
python-dateutil==2.8.2
pytz==2023.4
PyYAML==6.0.2
redis==5.0.8
requests==2.26.0
rest-framework-simplejwt==0.0.2
serialization==1.2.3
service-identity==24.2.0
six==1.16.0
SQLAlchemy==2.0.41
sqlparse==0.2.4
tomli==2.2.1
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.13.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.20
vine==5.0.0
wcwidth==0.2.13
zipp==3.21.0
zope.interface==7.2
